
:root {
    --color-primario : #F2F2E9;
    --color-secundario : #E0B68C;
    --fuente-titulos : Playfair Display;
    --font-weight-titulos : 700;
    --fuente-parrafos : Lato;
    --font-weight-parrafos : 700;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--color-primario);
}

img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.inicio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nombre {
    font-size: 4rem;
    font-family: var(--fuente-titulos);
    font-weight: var(--font-weight-titulos);
    color: #333333;
}

#descripcion {
    font-size: 2.25rem;
    font-family: var(--fuente-titulos);
    font-weight: var(--font-weight-titulos);
    color: #828282;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link {
    margin: 7% 0 3% 3%;
    width: 12.5rem;
    height: 3.438rem;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-align: center;
    text-decoration: 0;
    font-family: var(--fuente-parrafos);
    font-weight: var(--font-weight-parrafos);
    font-size: 1rem;
    padding: 0.75rem 2rem;
    align-content: center;
    border-radius: 9999px;
    transition: all 500ms;
}

.link:hover {
    font-size: 1.375rem;
}

#conoceme {
    margin: 1.25rem 0 1rem 1rem;
    width: 18.75rem;
    height: 3.438rem;
    border: solid var(--color-secundario);
    background-color: transparent;
    color: var(--color-secundario);
}

#acerca-de-mi-subtitulo, #tecnologias-y-herramientas-subtitulo {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 2.813rem;
    font-family: var(--fuente-titulos);
    font-weight: var(--font-weight-titulos);
    color: #333333;
    text-align: center;
}

#tecnologias-y-herramientas-subtitulo {
    padding-top: 3%;
    padding-bottom: 3%;
}

.acerca-de-mi {
    min-height: 100vh;
}

.descripcion {
    display: flex;
    align-items: center;
    padding-top: 7%;
    justify-content: space-between;
    margin: 0 10%;
    font-family: var(--fuente-parrafos);
    font-weight: var(--font-weight-parrafos);
    font-size: 150%;
    color: #828282
}

#descripcion-acerca-de-mi {
    width: 50%;
}

.tecnologias-y-herramientas {
    background-color: #FFFFFF;
    min-height: 70vh;
}

.tecnologias-y-herramientas-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.75rem 6.25rem;
    max-width: 65%;
    margin: 0 auto;
}

.tecnologias-y-herramientas-elemento {
    background-color: var(--color-primario);
    color: #000000;
    font-size: 1.313rem;
    border-radius: 1rem;
    border-style: groove;
    border-color: #9a8065;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    transition: all 500ms;
}

.tecnologias-y-herramientas-elemento:hover {
    border-color: #dfb386;
    background-color: #d0d0af;
    font-size: 1.875rem;
}

#proximamente {
    justify-self: center;
    margin: 1.875rem;
    padding-bottom: 0.938rem;
}

.contacto {
    font-family: var(--fuente-titulos);
    font-weight: 600;
    font-size: 1.125rem;
    padding: 0 25%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#contacto-subtitulo {
    margin-bottom: 3%;
    font-size: 2rem;
}

#gmail {
    margin: 2.188rem 0 1rem 1rem;
    width: 12.5rem;
    height: 2.5rem;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-align: center;
    text-decoration: 0;
    font-family: var(--fuente-parrafos);
    font-weight: var(--font-weight-parrafos);
    font-size: 1rem;
    padding: 0.75rem 2rem;
    align-content: center;
    border-radius: 9999px;
}