
:root {
    --color-primario : #F2F2E9;
    --color-secundario : #E0B68C;
    --fuente-titulos : Playfair Display;
    --font-weight-titulos : 700;
    --fuente-parrafos : Lato;
    --font-weight-parrafos : 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--color-primario);
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.inicio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nombre {
    font-size: 64px;
    font-family: var(--fuente-titulos);
    font-weight: var(--font-weight-titulos);
    color: #333333;
}

#descripcion {
    font-size: 36px;
    font-family: var(--fuente-titulos);
    font-weight: var(--font-weight-titulos);
    color: #828282;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link {
    margin: 35px 0 16px 16px;
    width: 200px;
    height: 55px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-align: center;
    text-decoration: 0;
    font-family: var(--fuente-parrafos);
    font-weight: var(--font-weight-parrafos);
    font-size: 16px;
    padding: 12px 32px;
    align-content: center;
    border-radius: 9999px;
}

.link:hover {
    font-size: 22px;
    transition-duration: 500ms;
}

#conoceme {
    margin: 20px 0 16px 16px;
    width: 300px;
    height: 55px;
    border: solid var(--color-secundario);
    background-color: transparent;
    color: var(--color-secundario);
}

#acerca-de-mi-subtitulo, #tecnologias-y-herramientas-subtitulo {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 45px;
    font-family: var(--fuente-titulos);
    font-weight: var(--font-weight-titulos);
    color: #333333;
    text-align: center;
}

#tecnologias-y-herramientas-subtitulo {
    padding-top: 3%;
    padding-bottom: 3%;
}

.acerca-de-mi {
    min-height: 100vh;
}

.descripcion {
    display: flex;
    align-items: center;
    padding-top: 7%;
    justify-content: space-between;
    margin: 0 10%;
    font-family: var(--fuente-parrafos);
    font-weight: var(--font-weight-parrafos);
    font-size: 20px;
    color: #828282
}

#descripcion-acerca-de-mi {
    width: 700px;
}

.tecnologias-y-herramientas {
    background-color: #FFFFFF;
    min-height: 70vh;
}

.tecnologias-y-herramientas-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 100px;
    max-width: 1000px;
    margin: 0 auto;
}

.tecnologias-y-herramientas-elemento {
    background-color: var(--color-primario);
    color: #000000;
    font-size: 21px;
    border-radius: 16px;
    border-style: groove;
    border-color: #9a8065;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
}

.tecnologias-y-herramientas-elemento:hover {
    border-color: #dfb386;
    background-color: #d0d0af;
    font-size: 30px;
    transition-duration: 500ms;
}

#proximamente {
    justify-self: center;
    margin: 30px;
    padding-bottom: 15px;
}

.contacto {
    font-family: var(--fuente-titulos);
    font-weight: 600;
    font-size: 18px;
    padding: 0 25%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#contacto-subtitulo {
    margin-bottom: 3%;
    font-size: 36px;
}

#gmail {
    margin: 35px 0 16px 16px;
    width: 200px;
    height: 40px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-align: center;
    text-decoration: 0;
    font-family: var(--fuente-parrafos);
    font-weight: var(--font-weight-parrafos);
    font-size: 16px;
    padding: 12px 32px;
    align-content: center;
    border-radius: 9999px;
}